


.tokyo_tm_all_wrap .rightpart_in {
    border: none;
}

.tokyo_tm_all_wrap {
    padding: 0; 
}
.rightpart_in {
    padding: 0;
}
.tokyo_tm_all_wrap {
    @media screen and (min-width: 1601px) {
        padding: 0; 
    
    }
}

/* START ContactPage */
// h3.contact_subtitle {
// }
@media(max-width: 600px) {
    div.contact_title > h3.contact_subtitle {
        font-size: 16px; 
    }
}
@media(max-width: 400px) {
    div.contact_title > h3.contact_subtitle {
        font-size: 12px; 
    }
}


@media(max-width: 769px) {
    div#right-box-contact-mail   div       {
        margin-left: 0;
        padding: 0;
        margin-right: 150px ;
        // min-width: 210px;
        display: block;
    }
}
@media(min-width: 770px) {
div#right-box-contact-mail   div   > ul     {
    margin-left: auto;
    padding: 0;
    margin-right: 0 ;
    min-width: 210px;
    display: block;
}
}




/* END ContactPage */



/* START Custom Typography - TitlePage */
 .home_content .details h3.name {
    font-weight: 700;
 }
 .home_content .details h4.typer {
    font-weight: 300;
    opacity: .70;
    margin-left: auto;
    margin-right: 0;
    padding: 0; 
 }

 .custom-button-text {
    font-size: 14px;
    // color: #333;
    // color: #999;
    font-weight: 600;
    font-family: "Montserrat";
    letter-spacing: 0px;
    text-transform: uppercase;

 }

//  p.p-contact-form-title {
//     font-size: 12px;
//  }
span.about_title.typer {
    opacity: 0.7;
}

/* END Custom Typography - TitlePage */

